.App {
  display:flex;
  background-color:whitesmoke;
}

.header {
  background-color: lightgreen;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  margin: 50px;
}

#container {
  display:flex;
  flex-direction: row;
  margin: 50px;
}

#wrapper {
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 2;
  background-color: lightcoral;
}

.nav {
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin-right: 50px;
  height: 700px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 800px;
}

.sub-content{
  background-color: gold;
  height: 80%;
  width: 27%;
  text-align: center;
}

.advertisement {
  background-color: plum;
  margin: 50px;
  margin-top: -50px;
  height: 10%;
  text-align: center;
}
